*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* :root{
  --position: 
} */

body,html{
  height: 100%;
  margin: 0;
}

.container{
  font-family: 'Nanum Gothic', sans-serif;
  background-color: blueviolet;
  display: grid;
  grid-template-columns: 0.5fr 5fr 1.2fr;
  gap: 5px;
  text-align: center;
  height: 100%;
}

.container div{
  padding: 15px;
}

.header{
  background-color: aqua;
  grid-column: 1/4;
}

.sidebar{
  background-color: cadetblue;
  grid-column: 1/2;
  grid-row: 2/3;
  display: grid;
  gap: 40px;  
}

.sidebar-div{
  background-color: aqua;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-auto-flow: column;
  gap: 1rem;
  font-size: 1.5rem;
  margin-top: 3px;
  cursor: pointer;
}

/* .sidebar-div:hover{
  
} */

.content{
  background-color: chocolate;
  grid-column: 2/3;
  grid-row: 2/3;
  gap: 5px;
}

.heading{
  background-color: chartreuse;
  font-size: 2rem;
  text-align: left;
}

.album-content{
  background-color: bisque;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  gap: 4em;
}

.album{
  background-color: darkgrey;
  height: 400px;
  text-align  :center;
  display: grid;
  justify-content: center;
  align-items: center;
}

.album-content img{
  height: 22em;
  width: 22em;
  object-fit: cover;
  border-radius: 5px;
}

.trending{
  background-color: coral;
  grid-column: 3/4;
  grid-row: 2/3;
  /*  */
  display: grid;
  grid-template-rows: 0.2fr 4fr 0.2fr 4fr;
}

.hot{
  background-color: cornflowerblue;
  gap: 0.5em;
  display: grid;
}


.news{
  background-color: darkorange;
  font-size: 1.3rem;
  gap: 10px;
  border: 1px solid black;
  display: grid;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

.friends{
  background-color: cyan;
  display: grid;
  gap: 0.5em;
}

.friends p{
  font-size: 1.2rem;
  margin-left: 5rem;
}

.friends button{
  outline: none;
  background-color: rgb(141, 228, 228);
  /* color: black; */
  border-radius: 5px;
  width: 6rem;
  height: 2.5rem;
  margin-top: 0.3rem;
  margin-left: 5rem;
  font-size: 1rem;
}


.profile{
  background-color: cornsilk;
  /* display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(2, 1fr); */
}
.casey{
  background-image: url(./images/background-1.png);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: contain;
  /* padding-left: 3rem; */
}

.lbs{
  background-image: url(./images/background-2.png);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: contain;
  /* border-radius: 5px; */
}

.freakOut99{
  background-image: url(./images/background-3.png);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: contain;
}

.dogge{
  background-image: url(./images/background-4.png);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: contain;
}